@{
    ViewData["Title"] = "Accountprüfung";
}
@section scripts {
    <script src="~/js/acccheck.js"></script>
}

<div class="container-fluid mt-5">
    <div class="container text-center info-container">

        <h2>Zu prüfenden Anmeldenamen eingeben</h2>
        <p>Unbestätigte Hacks einschließen?<input type="checkbox" checked class="mx-1" id="includeUnverified"></p>
        <div class="d-flex">
            <input type="text" id="accinput" class="datainput w-100" autocomplete="off" placeholder="E-Mail-Adresse oder Benutzername">
            <button id="sendButton" class="btn btn-outline-dark" type="button">Absenden</button>
        </div>
        <div class="row">
            <div class="col-sm" id="results">
                <h5 id="resultsHeading" class="mb-2" hidden>Ergebnisse</h5>
                <div id="resultsContent"></div>
            </div>
            <div class="col-sm" id="details">
                <h5 id="detailsHeading" class="mb-2" hidden>Details</h5>
                <div id="detailsContent"></div>
            </div>
        </div>
    </div>
</div>