@model AccountCheckResultsViewComponentViewModel

@if (Model.Breaches.Any()) {
    <h5 id="resultsHeading" class="mb-2">Ergebnisse</h5>
    foreach (Breach breach in Model.Breaches) {
        <div class="row align-items-center">
            <div class="col-sm">@breach.Name</div>
            <div class="col-sm">
                <button id="@(breach.Name)Button" type="button" value=@breach.Name class="detailsButton btn btn-outline-dark my-1">Details</button>
            </div>
        </div>
    }
} else {
    if (!Model.Message.IsNullOrEmptyExt()) {
        <div>@Model.Message</div>
    }
}