@model List<Breach>
@{
    ViewData["Title"] = "Datenleaks";
}
<div class="container-fluid mt-5">
    <div class="text-center justify-content-center">

        @if (Model.IsNullOrEmptyExt()) {
            <h2>Zurzeit können keine Daten abgefragt werden</h2>

        } else {
            <div class="d-flex flex-wrap flex-sm-wrap flex-md-nowrap">
                <div>
                    <h2 class="mb-3">Aktuelle Datenleaks</h2>
                    <div>
                        @{var latestList = Model.OrderByDescending(o => o.AddedDate).Take(10).ToList();
                            @await Html.PartialAsync("LeakListPartial", latestList)
                        }
                    </div>
                </div>
                <div class="m-auto"></div>
                <div>
                    <h2 class="mb-3">Größte Datenleaks</h2>
                    <div>
                        @{var largestList = Model.OrderByDescending(o => o.PwnCount).Take(10).ToList();
                            @await Html.PartialAsync("LeakListPartial", largestList)
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>